# $Header$
#
# Only allow access to this directory to yourself
#
# This Works is placed under the terms of the Copyright Less License,
# see file COPYRIGHT.CLL.  USE AT OWN RISK, ABSOLUTELY NO WARRANTY.
#
# $Log$
# Revision 1.2  2007-09-21 11:10:15  tino
# CLL notice now in scripts
#
# Revision 1.1  2007/08/24 17:32:21  tino
# first version

Order deny,allow
Allow from 127.0.0.1
Deny from all

# Add your permissions here
#Satisfy any
Allow from 192.168.71.0/24
